/*Stock*/
.stock-container {
    margin-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 300px);
    place-content: center;
    gap: 1rem;
    .carta {
        border-radius: 4px;
        background-color: $blanco;
        box-shadow: 0 5px 10px 5px rgba(0,0,0,0.1);
        margin-bottom: 20px;
        .img-card {
            width: 100%;
        }
        .carta-body {
            padding: 1em;
            h2 {
                font-size: 15px;
                text-align: center;
            }
        }
    }
}